@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-foreground: #fafafa;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: var(--color-background);
  color: var(--color-foreground);
}

/* MapLibre overrides */
.maplibregl-canvas {
  outline: none;
}

.maplibregl-ctrl-bottom-left,
.maplibregl-ctrl-bottom-right {
  display: none;
}
